.bordeLogin {
  border-top: 5px solid red !important;
  border-bottom: 5px solid rgb(122, 113, 222) !important;
}

/* Tamaño lg */
@media only screen and (min-width: 992px) {
  .menuHide {
    display: none !important;
  }

  .titleSmallScreen {
    display: block;
  }

  .usuario {
    display: block;
  }
}

/* Tamaño md */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .menuHide {
    display: none !important;
  }

  .titleSmallScreen {
    display: block;
  }

  .usuario {
    display: block;
  }
}

/* Tamaño md */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .titleSmallScreen {
    display: none;
  }

  .usuario {
    display: block;
  }
}

/* Tamaño sm */
@media only screen and (max-width: 576px) {
  .titleSmallScreen {
    display: none;
  }

  .usuario {
    display: none;
  }
}

/* Tamaño muy pequeño */
@media only screen and (max-width: 302px) {
  .titleSmallScreen {
    display: none;
  }

  .verySmall {
    flex: 0 0 41.6666666667% !important;
    max-width: 41.6666666667% !important;
  }

  .usuario {
    display: none;
  }
}
